<mat-form-field>
  <mat-label>Enter Your Full Name</mat-label>
  <input matInput>
</mat-form-field>

<!-- EMAIL INPUT  -->
<div class="example-container">
  <mat-form-field>
    <mat-label>Enter your email</mat-label>
    <input
      matInput
      placeholder="pat@example.com"
      [formControl]="email"
      (blur)="updateErrorMessage()"
      required
    />
    @if (email.invalid) {
      <mat-error>{{errorMessage()}}</mat-error>
    }
  </mat-form-field>
</div>

<mat-form-field>
  <mat-label>Prayer Request</mat-label>
  <textarea matInput></textarea>
</mat-form-field>

<!-- MatDatePicker 
 
-->
<mat-form-field>
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker" >
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker" ></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<!-- Select Form filed -->
<mat-form-field>
  <mat-label>Urgency</mat-label>
  <mat-select>
    <mat-option value="one">Low</mat-option>
    <mat-option value="two">Medium</mat-option>
    <mat-option value="three">High</mat-option>
  </mat-select>
</mat-form-field>



