<div class="example-container">
  <p class="text-neutral-700 mb-4 text-center text-bold">
  We believe in the power of prayer. Share your request and our community will lift it up.
</p>

<form [formGroup]="form" (ngSubmit)="submitForm()">
  <mat-form-field>
    <mat-label>Enter Your Full Name</mat-label>
    <input matInput formControlName="name" autocomplete="name"/>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Enter your email</mat-label>
    <input id="email" matInput formControlName="email" autocomplete="name" placeholder="pat@example.com" required />
   @if (form.get('email')?.invalid) {
  <mat-error>
    {{ form.get('email')?.hasError('email') ? 'Not a valid email' : 'Email is required' }}
  </mat-error>
}

  </mat-form-field>

 <mat-form-field appearance="fill">
  <mat-label>Region</mat-label>
  <input matInput placeholder="Enter your region" formControlName="region" required>
  <mat-error>
    Region is required
  </mat-error>
  </mat-form-field>


  <mat-form-field>
    <mat-label>Prayer Request</mat-label>
    <textarea matInput formControlName="request" placeholder="Type your prayer here..." maxlength="500"></textarea>
    <mat-hint align="end">{{ form.get('request')?.value?.length || 0 }}/500</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date" />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Urgency</mat-label>
    <mat-select formControlName="urgency">
      <mat-option value="low">🕊️ Low</mat-option>
      <mat-option value="medium">⏳ Medium</mat-option>
      <mat-option value="high">🔥 High</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- <button mat-raised-button color="primary" type="submit">
    Submit
  </button> -->
  <app-button type="submit"> Submit Prayer</app-button>
</form>
</div>

