.hero swiper-container {
  width: 100%;
  height: 500px;
}

.hero swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background: #f5f5f5;
  border-radius: 16px;
}
